stages:
  - test

image: debian:unstable

checkfiles:
  stage: test
  script:
  - ./.ci/retry.sh apt-get update
  - ./.ci/retry.sh apt-get -y -qq install ${PACKAGES}
  - ./.ci/checkfiles.sh
  - ./.ci/retry.sh git clone https://gitlab.com/4144/nemosite.git
  - rm -rf ./.ci/index.txt || true
  - cp nemosite/logs/index.txt ./.ci/
  - cd ./.ci
  - ./genpofiles.py
   - ./updatetranslations.py
  variables:
    PACKAGES: dos2unix moreutils git python git gettext
