border-radius:0px;
border-top-left-radius:8px;
border-bottom-left-radius:8px;
border-top: 1px solid #0A0A80;
border-left: 1px solid #0A0A80;
border-bottom: 1px solid #0A0A80;
border-right:0px;
min-width:16px;