border-top-right-radius: 8px;
border-bottom-right-radius: 8px;
border-top-left-radius:0;
border-bottom-left-radius:0;
border-top: 1px solid #0A0A80;
border-right: 1px solid #0A0A80;
border-bottom: 1px solid #0A0A80;
border-left: 0px;